Regular Expressions Assignment 

Internship ID - DS2402

Submitted by - Geetanjali Joshi

- Question 1- Python program to replace all occurrences of a space, comma, or dot with a colon.

In [4]:
import re
text = 'Python Exercises, PHP exercises.'

text1 = re.sub('[ ,.]',':',text)

print(text1)

Python:Exercises::PHP:exercises:

- Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-

0      hello world
1             test
2    four five six

In [37]:
import pandas as pd

data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)

def my_function(text):
    return re.sub(r'[^\w\s]', "", text)
df['SUMMARY'] = df['SUMMARY'].apply(my_function)
print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

- Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [6]:
# define a function

def my_function(string):
    pattern = re.compile(r'\b\w{4,}\b')
    matches = pattern.findall(string)
    return matches
string =  " Dark colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content."

result = my_function(string)
print(result)

['Dark', 'colored', 'bitter', 'slightly', 'acidic', 'coffee', 'stimulating', 'effect', 'humans', 'primarily', 'caffeine', 'content']

- Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [7]:
def my_function(string):
    pattern = re.compile(r'\b\w{3,6}\b')
    matches = pattern.findall(string)
    return matches
string = "Dark colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content."
result = my_function(string)
print(result)

['Dark', 'bitter', 'and', 'acidic', 'coffee', 'has', 'effect', 'humans', 'due', 'its']

- Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [8]:
strings =  ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

for string in strings:
    print(re.sub(r' ?\([^)]+\)', "", string))

example
hr@fliprobo
github
Hello
Data

- Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [9]:
strings =  ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

for string in strings:
     print(re.sub(r' ?\([^)]+\)', "", string))

example
hr@fliprobo
github
Hello
Data

- Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [10]:
text = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

- Question 8- Create a function in python to insert spaces between words starting with numbers.

In [11]:
import re

def insert_spaces(text):
  # Use regular expression to find words starting with numbers
  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r'\1 \2', text)
  return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(text)
print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

- Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [12]:
def insert_spaces(text):
  # Use regular expression to find words starting with numbers
  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r'\1 \2', text)
  return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(text)
print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

- Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [18]:
import numpy as np
import pandas as pd

df = pd.read_csv('happiness_score_dataset.csv')
df.head()

df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

- Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [15]:
def my_function(string):
    reg = re.search('^[a-zA-Z0-9]*$', string)
    if reg:
        print('is a match')
    else:
        print('Not a match')
        
print(my_function("Hey How are you"))
print(my_function("Hey_hOW_2"))

Not a match
None
Not a match
None


- Question 12- Write a Python program where a string will start with a specific number.

In [16]:

string = input("Enter a string : ")

reg = re.search('^\s*[0-9]',string)

if reg:
    print('starts with a number')
else:
    print('Does not start with a number')

Enter a string : 34 how are you
starts with a number


- Question 13- Write a Python program to remove leading zeros from an IP address

In [17]:
ip_address = "212.09.054.786 "

pattern = r'\.[0]*'

remove_zeroes = re.sub(pattern,'.', ip_address)
print(remove_zeroes)

212.9.54.786

- Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [130]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern =  r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

output = re.findall(pattern, text)

print(output)

['August 15th 1947']

- Question 15- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [120]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" : ' % (pattern, text))
    print(re.search(pattern,  text))

Searching for "fox" in "The quick brown fox jumps over the lazy dog." :
<re.Match object; span=(16, 19), match='fox'>
Searching for "dog" in "The quick brown fox jumps over the lazy dog." :
<re.Match object; span=(40, 43), match='dog'>
Searching for "horse" in "The quick brown fox jumps over the lazy dog." :
None

- Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [110]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('"%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

"fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

- Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [106]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print(' "%s"' % match)

 "exercises"
 "exercises"
 "exercises"

- Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [105]:
string = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, string):
    s = match.start()
    e = match.end()
    print(' "%s" at %d:%d' % (string[s:e], s, e))

 "exercises" at 7:16
 "exercises" at 22:31
 "exercises" at 36:45

- Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [93]:
def my_function(date):
    pattern = r'(\d{4})-(\d{1,2})-(\d{1,2})'
    changed_format = re.sub(pattern, '\\3-\\2-\\1', date)
    return changed_format

Old_format = "2024-03-09"
New_format = my_function(Old_format)
New_format

'09-03-2024'

- Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [90]:
def my_function(text):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal = re.findall(pattern, text)
    return decimal

sample = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = my_function(sample)
result

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

- Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [88]:
def my_function(string):
    for x in re.finditer("\d+", text):
        print(x.group(0))
        print("Index position:", x.start())

text = 'I got highest marks 98 in math'
result = my_function(text)

98
Index position: 20

- Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [84]:
text =  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'

max_value = max(re.findall(pattern, text))
print(max_value)

950

- Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [82]:
def my_function(x):
    pattern = r'([A-Z][a-z0-9]+|d+)'
    result = re.sub(pattern, r' \1', x)
    result = result.strip()
    return result

text = "RegularExpressionIsAnImportantTopicInPython"

result = my_function(text)
print(result)

Regular Expression Is An Important Topic In Python


- Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [79]:
text = " Hey! How Are You doing?"
pattern = r'[A-Z][a-z]+'
result = re.findall(pattern, text)

print(result)

['Hey', 'How', 'Are', 'You']

- Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [77]:
text = "Hello hello world world"

pattern = r"\b(\w+)(\s+\1\b)+"

result = re.sub(pattern, r'\1', text)
print(result)

Hello hello world


- Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character

In [75]:
input_string = input("Enter a string - ")
pattern = r"\w$"
match = re.search(pattern, input_string)

if match:
    print("String accepted")
else:
    print("String not accepted")

Enter a string - hey how are you @
String not accepted

- Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

    Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [72]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.compile(r"#\w+")

hashtags = re.findall(pattern, text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

- Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

    Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [71]:
text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = re.compile(r"<U\+\w{4}>")

result = re.sub(pattern, "",text)
print(result)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

- Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [23]:
import re
file = open("text.txt",'r')
text = file.read()
text = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern = '\d{2}[/-]\d{2}[/-]\d{4}'

date_extract = re.findall(pattern, text)

print(date_extract)

['12-09-1992', '15-12-1999']


- Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [60]:
def my_function(string):
    pattern = re.compile(r'\b\w{2,4}\b')
    new_string = re.sub(pattern, '',string)
    return new_string
    
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = my_function(sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

# The end